@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
    transition: all 1s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease-in;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    scale: .95;
}
.fade2-enter-active,
.fade2-leave-active {
    transition: opacity 0.1s ease-in-out;
}

.fade2-enter-from,
.fade2-leave-to {
    opacity: 0.9;
}
